body {
  background-color: rgb(0, 52, 3);
  }
.game{
    background-image: url(characters/41530.jpg);
    background-size: contain;
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 100px;
    height: 200px;
    /* background-color: red; */
    position:relative;
    top: 270px;
   
}
.animate{
    animation: jump 0.9s linear;
}
@keyframes jump{
    0%{top: 250px;}
    30%{top: 3%;}
    70%{top: 300px;}
    100%{top: 250px;}
}

#block{
    /* background-color: blue; */
    width: 50px;
    height: 90px;
    position: relative;
    top: 230px;
    left: 500px;
    animation: block 2s infinite linear;
}
@keyframes block{
    0%{left: 800px}
    100%{left: -20px}
}
p{
    text-align: center;
}